@font-face{
  font-family: 'ubuntulight';
   font-style: normal;
   src: local('ubuntulight'), local('ubuntu-light'), url(https://fonts.gstatic.com/s/ubuntu/v9/_aijTyevf54tkVDLy-dlnFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
 }

 @font-face {
   font-family: 'ubuntumedium';
   font-style: normal;
   src: local('ubuntumedium'), local('ubuntu-medium'), url(https://fonts.gstatic.com/s/ubuntu/v9/OsJ2DjdpjqFRVUSto6IffFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
 }

 @font-face {
   font-family: 'ubuntucondensed';
   font-style: normal;
   src: local('ubuntu condensed'), local('ubuntuCondensed-regular'), url(https://fonts.gstatic.com/s/ubuntucondensed/v7/DBCt-NXN57MTAFjitYxdrDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
}
